# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python byte compiled files.
*.pyc

# Temporary vim swp file.
*.sw?

# Ignore the documentation build directory.
documentation/build
documentation/html
doxygen_documentation/html

# Ignore the CMake build directory.
anansi_cmake_build_dir/*
/anansi_log.txt

# Ignore the stderr and stdout files.
*stdout.txt
*stderr.txt
/mouseion_log.txt
